Repository atsmith3/riscv: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: local
  hooks:
    - id: yapf
      name: yapf
      description: Yet Another Python Formatter
      entry: yapf
      args: [-i]
      types: [python]
      language: system
      files: \.py$
    - id: clang-format
      name: clang-format
      description: Clang Format
      entry: clang-format
      args: [-i]
      language: system
      files: \.(c|cpp|hpp|h)$

C++ hook working
  .pre-commit-config.yaml
Due: none

Updating path to slang-verilog
  env_setup.sh
Due: none

Chore/precommit (#5)
  .pre-commit-config.yaml
  env_setup.sh
  requirements.txt
  simulation/verilator/sim_main.cpp
  sw/assembler/POTATO_assembler.py
  test/gcd/gcd.c
  test/pad.py
  test/subtract/subtract.c
Due: yapf, clang-format

Added docker file to build an image that can compile the riscv binaries for testing
  .pre-commit-config.yaml
  test/Dockerfile
  test/gcd/.gitignore
  test/gcd/compile.sh
  test/gcd/gcd.dump
  test/gcd/gcd.elf
  test/gcd/gcd.ini
  test/gcd/ld/entry.s
  test/gcd/ld/memory_map.ld
  test/gcd/src/gcd.c
Due: clang-format

Added docker file to build an image that can compile the riscv binaries for testing (#6)
  .pre-commit-config.yaml
  test/Dockerfile
  test/gcd/.gitignore
  test/gcd/compile.sh
  test/gcd/gcd.dump
  test/gcd/gcd.elf
  test/gcd/gcd.ini
  test/gcd/ld/entry.s
  test/gcd/ld/memory_map.ld
  test/gcd/src/gcd.c
Due: clang-format

Using boost test and verilator to run RISCV module level and system level tests.
  Dockerfile.riscv-toolchain
  rtl/alu/alu.sv
  rtl/alu/alu_tb.sv
  rtl/control.sv
  rtl/control/decoder.sv
  rtl/core_top.sv
  rtl/program_register.sv
  rtl/regfile.sv
  scripts/compile_tests.sh
  simulation/verilator/CMakeLists.txt
  simulation/verilator/include/test_runner.h
  simulation/verilator/include/test_utils.h
  simulation/verilator/memory_model.cpp
  simulation/verilator/memory_model.h
  simulation/verilator/scripts/check_coverage_threshold.py
  simulation/verilator/scripts/coverage_report.sh
  simulation/verilator/scripts/run_all_tests.sh
  simulation/verilator/test_runner.cpp
  simulation/verilator/test_utils.cpp
  simulation/verilator/tests/module/alu_test.cpp
  simulation/verilator/tests/system_tests.cpp
  simulation/verilator/tests/test_main.cpp
  sw/assembler/POTATO_assembler.py
  test/add/add.dump
  test/add/add.elf
  test/add/add.ini
  test/add/add.s
  test/add/memory_map.ld
  test/gcd/compile.sh
  test/gcd/gcd.ini
  test/gcd/ld/memory_map.ld
  test/gcd/src/gcd.c
  test/subtract/compile.sh
  test/subtract/memory_map.ld
  test/subtract/subtract.c
  test/subtract/subtract.dump
  test/subtract/subtract.elf
  test/subtract/subtract.ini
Due: yapf, clang-format

Removing icarus/slang for now
  simulation/CMakeLists.txt
  simulation/icarus/.gitignore
  simulation/icarus/README.md
  simulation/icarus/compile.sh
  simulation/icarus/state.flt
  simulation/include/test_runner.h
  simulation/include/test_utils.h
  simulation/input.vc
  simulation/memory_model.cpp
  simulation/memory_model.h
  simulation/scripts/check_coverage_threshold.py
  simulation/scripts/coverage_report.sh
  simulation/scripts/run_all_tests.sh
  simulation/slang/README.md
  simulation/slang/filelist.f
  simulation/slang/lint.sh
  simulation/test_runner.cpp
  simulation/test_utils.cpp
  simulation/tests/module/alu_test.cpp
  simulation/tests/system_tests.cpp
  simulation/tests/test_main.cpp
  simulation/verilator/sim_main.cpp
Due: yapf, clang-format

Moving TB code out of the rtl sources
  rtl/alu/alu_tb.sv
  rtl/alu/testbench.sh
  rtl/control/branch_eval_tb.sv
  rtl/control/testbench.sh
  rtl/tb/.gitignore
  rtl/tb/ram.sv
  rtl/tb/state.flt
  rtl/tb/test_roms/jmp.mem
  rtl/tb/test_roms/test.mem
  rtl/tb/testbench.sh
  rtl/tb/testbench.sv
Due: none

Adding additional module level tests
  rtl/memory.sv
  simulation/CMakeLists.txt
  simulation/tests/module/README_alu.md
  simulation/tests/module/README_branch_eval.md
  simulation/tests/module/README_decoder.md
  simulation/tests/module/README_imm_gen.md
  simulation/tests/module/alu_test.cpp
  simulation/tests/module/branch_eval_test.cpp
  simulation/tests/module/decoder_test.cpp
  simulation/tests/module/imm_gen_test.cpp
Due: clang-format

Adding print for running on HOST machine to verify test works properly
  test/bubble_sort/bubble_sort.c
Due: clang-format

All tests passing now. Found bug in shift instruction from imm_gen.sv and Byte/Half load store instructions are not implemented so memcpy was failing when not word alligned.
  rtl/control/imm_gen.sv
  simulation/tests/module/decoder_test.cpp
  simulation/tests/module/imm_gen_test.cpp
  simulation/tests/system_tests.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/compile.sh
  test/memcpy/memcpy.c
  test/memcpy/memcpy.dump
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
Due: clang-format

Fixed issues with Byte/Half word. Needed update in control block to clear before instruciton load, and needed update to MAR. Should be word alligned.
  rtl/byte_lane.sv
  rtl/control.sv
  rtl/core_top.sv
  rtl/datatypes.sv
  simulation/CMakeLists.txt
  simulation/memory_model.cpp
  simulation/memory_model.h
  simulation/test_runner.cpp
  simulation/tests/module/byte_lane_test.cpp
  simulation/tests/system_tests.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/byte_load_simple/byte_load_simple.c
  test/byte_load_simple/byte_load_simple.dump
  test/byte_load_simple/byte_load_simple.elf
  test/byte_load_simple/byte_load_simple.ini
  test/byte_load_simple/compile.sh
  test/byte_load_simple/entry.s
  test/byte_load_simple/memory_map.ld
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
  test/word_test.c
Due: clang-format

Adding halfword test
  simulation/tests/system_tests.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/byte_load_simple/byte_load_simple.elf
  test/byte_load_simple/byte_load_simple.ini
  test/byte_load_simple/compile.sh
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
Due: clang-format

feat: Byte/Half word support (#8)
  rtl/byte_lane.sv
  rtl/control.sv
  rtl/core_top.sv
  rtl/datatypes.sv
  simulation/CMakeLists.txt
  simulation/memory_model.cpp
  simulation/memory_model.h
  simulation/test_runner.cpp
  simulation/tests/module/byte_lane_test.cpp
  simulation/tests/system_tests.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/byte_load_simple/byte_load_simple.c
  test/byte_load_simple/byte_load_simple.dump
  test/byte_load_simple/byte_load_simple.elf
  test/byte_load_simple/byte_load_simple.ini
  test/byte_load_simple/compile.sh
  test/byte_load_simple/entry.s
  test/byte_load_simple/memory_map.ld
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
  test/word_test.c
Due: clang-format

Adding CSR Register Support
  rtl/control.sv
  rtl/core_top.sv
  rtl/csr_alu.sv
  rtl/csr_file.sv
  rtl/datatypes.sv
  rtl/mux4.sv
  simulation/CMakeLists.txt
  simulation/tests/csr_system_tests.cpp
  simulation/tests/module/csr_alu_test.cpp
  simulation/tests/module/csr_file_test.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/byte_load_simple/byte_load_simple.elf
  test/byte_load_simple/byte_load_simple.ini
  test/csr_read_cycle/compile.sh
  test/csr_read_cycle/csr_read_cycle.c
  test/csr_read_cycle/csr_read_cycle.dump
  test/csr_read_cycle/csr_read_cycle.elf
  test/csr_read_cycle/csr_read_cycle.ini
  test/csr_read_cycle/entry.s
  test/csr_read_cycle/memory_map.ld
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
Due: clang-format

Adding CSR Register Support (#9)
  rtl/control.sv
  rtl/core_top.sv
  rtl/csr_alu.sv
  rtl/csr_file.sv
  rtl/datatypes.sv
  rtl/mux4.sv
  simulation/CMakeLists.txt
  simulation/tests/csr_system_tests.cpp
  simulation/tests/module/csr_alu_test.cpp
  simulation/tests/module/csr_file_test.cpp
  test/add/add.elf
  test/add/add.ini
  test/bitops/bitops.elf
  test/bitops/bitops.ini
  test/bubble_sort/bubble_sort.elf
  test/bubble_sort/bubble_sort.ini
  test/byte_load_simple/byte_load_simple.elf
  test/byte_load_simple/byte_load_simple.ini
  test/csr_read_cycle/compile.sh
  test/csr_read_cycle/csr_read_cycle.c
  test/csr_read_cycle/csr_read_cycle.dump
  test/csr_read_cycle/csr_read_cycle.elf
  test/csr_read_cycle/csr_read_cycle.ini
  test/csr_read_cycle/entry.s
  test/csr_read_cycle/memory_map.ld
  test/factorial/factorial.elf
  test/factorial/factorial.ini
  test/fibonacci/fibonacci.elf
  test/fibonacci/fibonacci.ini
  test/gcd/gcd.ini
  test/memcpy/memcpy.elf
  test/memcpy/memcpy.ini
  test/multiply/multiply.elf
  test/multiply/multiply.ini
  test/prime/prime.elf
  test/prime/prime.ini
  test/strlen/strlen.elf
  test/strlen/strlen.ini
  test/subtract/subtract.elf
  test/subtract/subtract.ini
Due: clang-format

ECALL/EBREAK tests passing
  rtl/control.sv
  rtl/core_top.sv
  simulation/debug_ecall.cpp
  simulation/test_ecall_debug.cpp
  simulation/test_runner.cpp
  simulation/tests/csr_system_tests.cpp
Due: clang-format

Adding state machine diagram
  documentation/control_fsm.png
  scripts/analyze_fsm.py
Due: yapf

feat: FSM Documentation Script (#11)
  documentation/control_fsm.png
  scripts/analyze_fsm.py
Due: yapf

Updating FSM
  documentation/control_fsm.png
Due: none

Added generic logic gates synthesis
  .gitignore
  README.md
  rtl/csr_alu.sv
  synthesis/Makefile
  synthesis/README.md
  synthesis/constraints/synth_constraints.txt
  synthesis/scripts/equiv_check.tcl
  synthesis/scripts/file_list.txt
  synthesis/scripts/synth.tcl
Due: none

pdk_map now properly tech mapping to GF180 9T
  synthesis/scripts/pdk_map.tcl
Due: none

Design is verilating, need to debug reset initialization issue. PC stuck at -1
  simulation/CMakeLists.txt
Due: none

Adding :z to the mount parameter to allow the mount on Security Enhanced Linux
  scripts/compile_tests.sh
Due: none

Adding :z to the mount parameter to allow the mount on Security Enhanced Linux (#13)
  scripts/compile_tests.sh
Due: none

Modifying PC Register for Yosys Synthesis
  rtl/dff_init.sv
  rtl/program_register.sv
  simulation/CMakeLists.txt
Due: none

GLS now passing after creating Verilator compatible UDP representations
  simulation/CMakeLists.txt
  simulation/gf180_udp_replacements/gf180_udp_verilator.v
  synthesis/scripts/file_list.txt
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0_verilator.filelist
Due: none

Adding PDK as a git submodule, now all functionality should work out of box.
  .gitmodules
  simulation/CMakeLists.txt
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0.filelist
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0_verilator.filelist
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0_with_udp.filelist
Due: none

Adding PDK as a git submodule, now all functionality should work out of box. (#15)
  .gitmodules
  simulation/CMakeLists.txt
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0.filelist
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0_verilator.filelist
  synthesis/scripts/gf180mcu_fd_sc_mcu9t5v0_with_udp.filelist
Due: none

Docs update
  README.md
  documentation/control_fsm.dot
  documentation/control_fsm.png
  scripts/analyze_fsm.py
  simulation/tests/module/README_alu.md
  synthesis/README.md
  synthesis/constraints/synth_constraints.txt
Due: yapf
