Repository atsmith3/riscv: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, mypy, clang-format

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: local
  hooks:
    - id: yapf
      name: yapf
      description: Yet Another Python Formatter
      entry: yapf
      args: [-i]
      types: [python]
      language: system
      files: \.py$
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [file, python]
    - id: clang-format
      name: clang-format
      description: Clang Format
      entry: clang-format
      args: [-i]
      language: system
      files: \.(c|cpp|hpp|h)$

Docs update (#16)
  README.md
  documentation/control_fsm.dot
  documentation/control_fsm.png
  scripts/analyze_fsm.py
  simulation/tests/module/README_alu.md
  synthesis/README.md
  synthesis/constraints/synth_constraints.txt
Due: yapf, mypy

Adding base Vivado setup
  emulation/vivado/arty_s7_50/Makefile
  emulation/vivado/arty_s7_50/README.md
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/scripts/bitstream.tcl
  emulation/vivado/arty_s7_50/scripts/lint.tcl
  emulation/vivado/arty_s7_50/scripts/opt.tcl
  emulation/vivado/arty_s7_50/scripts/place.tcl
  emulation/vivado/arty_s7_50/scripts/route.tcl
  emulation/vivado/arty_s7_50/scripts/synth.tcl
  emulation/vivado/arty_s7_50/xdc/Arty-S7-50-Master.xdc
  env_setup.sh
Due: none

Full out of context flow and addressing some lint issues
  README.md
  emulation/vivado/arty_s7_50/.gitignore
  emulation/vivado/arty_s7_50/README.md
  emulation/vivado/arty_s7_50/clockInfo.txt
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/scripts/lint.tcl
  emulation/vivado/arty_s7_50/scripts/synth.tcl
  rtl/control.sv
  rtl/control/branch_eval.sv
  rtl/control/decoder.sv
  rtl/control/imm_gen.sv
  rtl/core_top.sv
  rtl/regfile.sv
  simulation/CMakeLists.txt
  synthesis/scripts/file_list.txt
Due: none

Adding BRAM memory for test
  emulation/vivado/arty_s7_50/Makefile
  emulation/vivado/arty_s7_50/bram_memory.sv
  emulation/vivado/arty_s7_50/clockInfo.txt
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/scripts/ini2hex.py
  emulation/vivado/arty_s7_50/scripts/lint.tcl
  emulation/vivado/arty_s7_50/scripts/synth.tcl
  emulation/vivado/arty_s7_50/xdc/Arty-S7-50-Master.xdc
Due: yapf, mypy

Xilinx emu (#17)
  README.md
  emulation/vivado/arty_s7_50/.gitignore
  emulation/vivado/arty_s7_50/Makefile
  emulation/vivado/arty_s7_50/README.md
  emulation/vivado/arty_s7_50/bram_memory.sv
  emulation/vivado/arty_s7_50/clockInfo.txt
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/scripts/bitstream.tcl
  emulation/vivado/arty_s7_50/scripts/ini2hex.py
  emulation/vivado/arty_s7_50/scripts/lint.tcl
  emulation/vivado/arty_s7_50/scripts/opt.tcl
  emulation/vivado/arty_s7_50/scripts/place.tcl
  emulation/vivado/arty_s7_50/scripts/route.tcl
  emulation/vivado/arty_s7_50/scripts/synth.tcl
  emulation/vivado/arty_s7_50/xdc/Arty-S7-50-Master.xdc
  env_setup.sh
  rtl/control.sv
  rtl/control/branch_eval.sv
  rtl/control/decoder.sv
  rtl/control/imm_gen.sv
  rtl/core_top.sv
  rtl/regfile.sv
  simulation/CMakeLists.txt
  synthesis/scripts/file_list.txt
Due: yapf, mypy

Updating readme
  emulation/vivado/arty_s7_50/Makefile
  emulation/vivado/arty_s7_50/README.md
Due: none

Adding EMU Top Png
  emulation/vivado/arty_s7_50/README.md
  emulation/vivado/arty_s7_50/emu_top.png
Due: none

Emu docs (#18)
  emulation/vivado/arty_s7_50/Makefile
  emulation/vivado/arty_s7_50/README.md
  emulation/vivado/arty_s7_50/emu_top.png
Due: none

Adding new dev board for spartan ultrascale
  emulation/vivado/arty_s7_50/emu_top.png
  emulation/vivado/common/scripts/lint.tcl
  emulation/vivado/common/scripts/synth.tcl
  emulation/vivado/ek_scu35_g/.gitignore
  emulation/vivado/ek_scu35_g/Makefile
  emulation/vivado/ek_scu35_g/README.md
  emulation/vivado/ek_scu35_g/emu_top.png
  emulation/vivado/ek_scu35_g/emu_top.sv
  emulation/vivado/ek_scu35_g/xdc/ek_scu35_g.xdc
  emulation/vivado/ek_scu35_g/xdc/reference/EK_SCU35_Rev3B.xdc
Due: none

Adding new dev board for spartan ultrascale (#20)
  emulation/vivado/arty_s7_50/emu_top.png
  emulation/vivado/common/scripts/lint.tcl
  emulation/vivado/common/scripts/synth.tcl
  emulation/vivado/ek_scu35_g/.gitignore
  emulation/vivado/ek_scu35_g/Makefile
  emulation/vivado/ek_scu35_g/README.md
  emulation/vivado/ek_scu35_g/emu_top.png
  emulation/vivado/ek_scu35_g/emu_top.sv
  emulation/vivado/ek_scu35_g/xdc/ek_scu35_g.xdc
  emulation/vivado/ek_scu35_g/xdc/reference/EK_SCU35_Rev3B.xdc
Due: none

Broke timing path by adding register on ALU out and IMM Gen Out
  rtl/control.sv
  rtl/core_top.sv
Due: none

Synthesis flow updates. Tidying up the makefile and tcl scripts for Yosys.
  synthesis/Makefile
  synthesis/README.md
  synthesis/VERSION
  synthesis/scripts/equiv_check.tcl
  synthesis/scripts/pdk_map.tcl
  synthesis/scripts/synth.tcl
  synthesis/scripts/utils/analyze_netlist.py
  synthesis/scripts/utils/check_dependencies.sh
Due: yapf, mypy

emulation: Breaking long timing paths (#21)
  rtl/control.sv
  rtl/control/imm_gen.sv
  rtl/core_top.sv
  rtl/datatypes.sv
  rtl/mux4.sv
Due: none

Enhanced synthesis flow with quality improvements:
  synthesis/Makefile
  synthesis/VERSION
  synthesis/constraints/synth_constraints.txt
  synthesis/scripts/pdk_map.tcl
  synthesis/scripts/synth.tcl
Due: none

synthesis: Flow improvements (#22)
  synthesis/Makefile
  synthesis/README.md
  synthesis/VERSION
  synthesis/constraints/synth_constraints.txt
  synthesis/scripts/equiv_check.tcl
  synthesis/scripts/pdk_map.tcl
  synthesis/scripts/synth.tcl
  synthesis/scripts/utils/analyze_netlist.py
  synthesis/scripts/utils/check_dependencies.sh
Due: yapf, mypy

Adding clang-format to .sv files for consistent formatting
  .gitignore
  .pre-commit-config.yaml
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/ila_opt.tcl
  emulation/vivado/common/rtl/bram_memory.sv
  emulation/vivado/common/scripts/ini2hex.py
  emulation/vivado/ek_scu35_g/emu_top.sv
  emulation/vivado/ek_scu35_g/xdc/reference/EK_SCU35_Rev3B.xdc
  rtl/alu/alu.sv
  rtl/byte_lane.sv
  rtl/control.sv
  rtl/control/decoder.sv
  rtl/control/imm_gen.sv
  rtl/core_top.sv
  rtl/csr_alu.sv
  rtl/csr_file.sv
  rtl/datatypes.sv
  rtl/dff_init.sv
  rtl/mux4.sv
  rtl/program_register.sv
  rtl/regfile.sv
  simulation/gf180_udp_replacements/gf180_udp_verilator.v
  simulation/tests/module/imm_gen_test.cpp
Due: yapf, mypy, clang-format

Adding clang-format to .sv files for consistent formatting (#23)
  .gitignore
  .pre-commit-config.yaml
  emulation/vivado/arty_s7_50/emu_top.sv
  emulation/vivado/arty_s7_50/ila_opt.tcl
  emulation/vivado/common/rtl/bram_memory.sv
  emulation/vivado/common/scripts/ini2hex.py
  emulation/vivado/ek_scu35_g/emu_top.sv
  emulation/vivado/ek_scu35_g/xdc/reference/EK_SCU35_Rev3B.xdc
  rtl/alu/alu.sv
  rtl/byte_lane.sv
  rtl/control.sv
  rtl/control/decoder.sv
  rtl/control/imm_gen.sv
  rtl/core_top.sv
  rtl/csr_alu.sv
  rtl/csr_file.sv
  rtl/datatypes.sv
  rtl/dff_init.sv
  rtl/mux4.sv
  rtl/program_register.sv
  rtl/regfile.sv
  simulation/gf180_udp_replacements/gf180_udp_verilator.v
  simulation/tests/module/imm_gen_test.cpp
Due: yapf, mypy, clang-format

Spec completed
  documentation/MMU_SPEC.md
Due: none

MMU Spec refined
  documentation/MMU_SPEC.md
Due: none
